.input-section{
   
    border: 0.5rem outset #c8e1ff;
    line-height: 30px !important;
    border-radius: 6px;
    font:  1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
}